<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>  
<key>Label</key>
<string>com.jefflanza.mailnotifier</string>
<key>ProgramArguments</key>
<array> 
<string>/usr/local/mailnotifier/bin/mail_checker.rb</string>
</array>
<key>LowPriorityIO</key>
<true/>
<key>Nice</key>
<integer>1</integer>
<key>StartInterval</key>
<integer>600</integer>
</dict>
</plist>
